.chartContainer {
  width: 95%;
  height: 350px;
  border-radius: 12px;
  background: #fff;
  padding: 10px;
}

.chartTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.legendBox {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.legendColor {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 4px;
}
