.chartContainer {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  background: #fff;
  padding: 10px;
}

.chartTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
