.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10%;
    background-color:#5DC47F;
    padding: 10px;
    /* border-radius: 12px; */
    /* margin: 20px; */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}

.title {
    margin-left: 20px;
    font-size: 40px;
}

.headerLinks {
    margin-right: 20px;
}

.logoutButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.logoutButton:hover{
    color: red;
}