@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-size: 14px;
}
.mainContent {
  margin-left: 290px; /* เว้นให้ sidebar */
  padding: 20px;
  margin-top: 80px;
  min-height: calc(100vh - 150px);
  flex: 1;
}