.container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
}

.card {
    background-color: #e57c2f;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 200px;
    flex: 1;
    color: white;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;

}

.card p {
    margin: 0;
}

.tableSection {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tableSection h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    font-size: 0.95rem;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    border: 1px solid rgb(67, 169, 149);
    text-align: center;
}

.table th {
    background-color: rgb(220, 228, 227);
    font-weight: 600;
    color: rgb(24, 59, 52);
}

.table td {
    color: rgb(24, 59, 52);
    background-color: rgb(254, 255, 255);
}

/* .table tr:nth-child(even) {
  background-color: #fafafa;
} */

.table tr:hover {
    background-color: #f1f5f9;
    transition: background 0.2s ease;
}

.addButton {
    background-color: rgb(44, 109, 96);
    color: white;
    padding: 10px 20px;
    width: 200px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    align-self: flex-end;
}

.addButton:hover {
    background-color: rgb(221, 230, 230);
    transition: 0.3s;
    border: rgb(44, 109, 96) 2px solid;
    color: rgb(44, 109, 96);
}

.editButton {
  background-color: rgb(96, 160, 147);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.editButton:hover {
  background-color:rgb(76, 210, 165);
}
