.homeContainer {
  padding: 0px 10px;
}

.subText {
  font-size: 18px;           
  font-weight: 600;           /* หนักขึ้นเพื่อดึงสายตา */
  color: #333333;             /* สีเข้ม อ่านง่าย */
  margin-bottom: 25px;        /* เว้นระยะกับ Book List */
  line-height: 1.6;
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #fff9c4, #fff59d); 
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8px;        
}


/* Section */
.section {
  margin-bottom: 30px;
}

/* Section Header */
.sectionHeader h3 {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 16px;
}

/* Book List */
.bookList {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.bookList::-webkit-scrollbar {
  height: 6px;
}

.bookList::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.bookCard {
  min-width: 150px;
  padding: 10px;
  background-color: #b9c8fb; 
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* เงาเข้มขึ้น */
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  scroll-snap-align: start;
  border: 2px solid #f8c200f3; /* เส้นขอบโทนอุ่น */
}

.bookCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  background-color: #7a97f6;  /* hover ทำให้เด่นขึ้น */
}

.bookTitle {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937; 
  margin-top: 4px;
}


