.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.title {
    font-size: 20px;
    color: #473c08;
    font-weight: bold;
    background-color: #faf9f7;
    padding: 20px;
    border: #e7be0a 1px solid;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    /* ขึ้นบรรทัดใหม่อัตโนมัติ */
    gap: 40px;
    padding: 20px;
    justify-content: center;
    /* จัดกึ่งกลางแนวนอน */
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    /* ไอคอนอยู่บน, ข้อความอยู่ล่าง */
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 150px;
    background-color: #e3d9b1;
    color: #473c08;
    text-decoration: none;
    border-radius: 12px;
    border: #EED566 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
    font-size: 1rem;
    padding: 15px;
}

.card svg {
    font-size: 2rem;
    /* ขนาดไอคอนใหญ่ขึ้น */
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #EED566;
    color: black;
    border: #EED566 2px solid;
    box-shadow: 0 4px 10px #EED566;
}

.teacherStackChart {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 80%;
    margin-top: 20px;
}