.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #eeeeee;
    padding: 20px;
    padding-top: 10px;
    position: fixed;
    z-index: 50;
    /* Stay on top */
    top: 10%; 
    /* ระยะจากขอบบน */
    bottom: 0; 
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    /* จัดเรียงรายการในแนวตั้ง */
    gap: 10px;
    /* ระยะห่างระหว่างรายการ */
}

.nav a {
    color: #27ac1f;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    display: flex;
    /* เปลี่ยนจาก block → flex */
    align-items: center;
    /* จัดให้อยู่กลางแนว Y */
    gap: 10px;
    /* ระยะห่างระหว่างไอคอนกับข้อความ */
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    
}


.nav a:hover {
    background-color: #27ac1f;
    color: white;
}