.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 2 4px 12px rgba(24, 23, 23, 1);
}

.title {
    text-align: center;
    color: #12181e;
    margin-bottom: 24px;
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form label{
    color: #12181e;
}

.input {
    width: 100%;
    padding: 5px 12px;
    font-size: 1rem;
    border: 2px solid #27ac1f;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #12181e;
    margin-top: 10px;
}

.input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px #27ac1f;
}

.button {
    padding: 12px 16px;
    font-size: 1rem;
    background-color:#27ac1f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    border:1px solid #27ac1f;
}

.button:hover {
    background-color: #74d56f;
    color: #12181e;
    border: #27ac1f 1px solid;
}

.button:active {
    transform: scale(0.98);
}

.tableSection {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tableSection h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    font-size: 0.95rem;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    border: 1px solid #739570;
    text-align: center;
}

.table th {
    background-color:#b7d3b6;
    font-weight: 600;
    color: #12181e;
}

.table td {
    color: rgb(24, 59, 52);
    background-color: rgb(254, 255, 255);
}

/* .table tr:nth-child(even) {
  background-color: #fafafa;
} */

.table tr:hover {
    background-color: #f1f5f9;
    transition: background 0.2s ease;
}