.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #2c6d60;
    margin-bottom: 24px;
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 5px 12px;
    font-size: 1rem;
    border: 2px solid #2c6d60;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
    border-color: #d0ebe5;
    box-shadow: 0 0 5px #14957b;
}

.button {
    padding: 12px 16px;
    font-size: 1rem;
    background-color: #2c6d60;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(89, 193, 172);
}

.button:active {
    transform: scale(0.98);
}

.tableSection {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tableSection h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    font-size: 0.95rem;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    border: 1px solid rgb(67, 169, 149);
    text-align: center;
}

.table th {
    background-color: rgb(220, 228, 227);
    font-weight: 600;
    color: rgb(24, 59, 52);
}

.table td {
    color: rgb(24, 59, 52);
    background-color: rgb(254, 255, 255);
}

/* .table tr:nth-child(even) {
  background-color: #fafafa;
} */

.table tr:hover {
    background-color: #f1f5f9;
    transition: background 0.2s ease;
}