.container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.title {
    color: #12181e;
}

.tableWrapper {
    border-radius: 8px;
    border: 2px solid #237753;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    border: 1px solid #56796a;
    text-align: center;
}

.table th {
    background-color: #689A86;
    font-weight: 600;
    color: #ffffff;
}

.table td {
    color: rgb(24, 59, 52);
    background-color: rgb(254, 255, 255);
}

.rowButton{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.paginationContainer {
    display: flex;
    gap: 6px;
    height: 40px;
}

.pageButton,
.pageNumber {
    padding: 6px 12px;
    color: #689A86;
    border: 2px solid #689A86;
    background: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.pageButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pageNumber:hover {
    border: 2px solid #689A86;
}

.active {
    background: #689A86;
    color: white;
    border-color: #689A86;
}

.addButton {
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    align-self: flex-end;
    background-color: #689A86;
    color: #ffffff;
    border: #689A86 1px solid;
}

.addButton:hover {
    transition: 0.3s;
    background-color: #28644c;
    color: #ffffff;
    border: #689A86 1px solid;
}

.manageButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15;

}

.editButton {
    color: #d7b622;
    font-size: 25px;
}

.deleteButton {
    color: #f18753;
    font-size: 25px;
}