.container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    color: #12181e;
}

.cardsContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
}

.card {
    background-color: #e57c2f;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 200px;
    flex: 1;
    color: white;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;

}

.card p {
    margin: 0;
}

.tableSection {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.tableSection h2 {
    margin-bottom: 1rem;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    border: 1px solid #739570;
    text-align: center;
}

.table th {
    background-color: #b7d3b6;
    font-weight: 600;
    color: #12181e;
}

.table td {
    color: rgb(24, 59, 52);
    background-color: rgb(254, 255, 255);
}

/* .table tr:nth-child(even) {
  background-color: #fafafa;
} */

.table tr:hover {
    background-color: #f1f5f9;
    transition: background 0.2s ease;
}

.addButton {
    padding: 10px 20px;
    width: 200px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    align-self: flex-end;
    background-color: #27ac1f;
    color: #ffffff;
    border: #27ac1f 1px solid;
}

.addButton:hover {
    transition: 0.3s;
    background-color: #94da90;
    color: #12181e;
    border: #27ac1f 1px solid;
}

/* .editButton{
    color: #d125ac;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.editButton:hover{
    color: #e8a1d9;
} */

.manageButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15;
    
}

.editButton {
    color: #12181e;
    font-size:25px;
}

.deleteButton {
    color: red;
    font-size: 25px;
}